@import "_variables";
@import "_globals";

//mobile-first approach

.flex { //flexbox
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 20.625rem;
    height: 35.625rem;

    .header-img {
        max-width: 100%;
        border-top-left-radius: 1.5625rem;
        border-top-right-radius: 1.5625rem;
    }

    &-ai-c {
        align-items: center;
    }

    background-color: white;
    border-radius: 1.5625rem;
}

.osHeader {
    margin-top: 2rem;
    font-weight: 900;
    font-size: 1.35rem;
}

.description {
    margin: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: $desaturateBlue;
}

.annual-plan-container {
    background-color: $veryPaleBlue;
    width: 17.5rem;
    height: 5.3125rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;

    img {
        // height: 3.125rem;
        // width: 3.125rem;
        margin: 1rem;
    }

    .price-container {
        display: flex;
        flex-direction: column;

        .ap {
            font-weight: 900;
            font-size: .9rem;
        }

        .price {
            font-weight: 500;
            font-size: .9rem;
            color: $desaturateBlue
        }

    }

    button {
        margin-right: .5rem;
        margin-left: auto;
        border: none;
        background: none;
        font-family: $font;
        font-weight: 600;
        font-size: .85rem;
        color: $brightBlue;
        text-decoration: underline;

    }

    button:hover {
        cursor: pointer;
        color: hsla(245, 75%, 52%, 0.5);
        text-decoration: none;
    }


}

.btn {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    background-color: $brightBlue;
    height: 3.125rem;
    width: 17.5rem;
    color: white;
    font-family: $font;
    font-weight: 900;
    border-radius: 1rem;
    border: none;
}

.btn:hover {
    cursor: pointer;
    background: hsla(245, 75%, 52%, 0.5);
}

.cancel {
    color: $desaturateBlue;
    font-weight: 700;
    font-size: 0.875rem;
}

.cancel:hover {
    cursor: pointer;
    color: black;
}

@media (min-width: 87.5rem) { //desktop changes

    body {
        background-color: $paleBlue;
        background-image: url(/app/images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .flex {
        width: 28.1875rem;
        height: 43rem;
    }

    .osHeader {
        font-weight: 900;
        font-size: 1.75rem;
    }

    .description {
        margin-left: 4rem;
        margin-right: 4rem;

    }

    .annual-plan-container {
        background-color: $veryPaleBlue;
        width: 22.1875rem;
        height: 6.25rem;

        .price-container {
            .ap {
                font-size: 1rem;
            }
            .price {
                font-size: 1rem;
            }
        }

        button {
            margin-right: 2rem;
        }
    }

    .btn {
        margin: 2rem;
        width: 22.1875rem;
    }
}
