@import "_variables";
@import "_globals";


.header-img {
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
}

.osHeader {
    margin-top: 2.625rem;
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: 1.75rem;
}

.description {
    margin-left: 4.75rem;
    margin-right: 4.75rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: $desaturateBlue;
}

.annual-plan-container {
    background-color: $veryPaleBlue;
    width: 22.1875rem;
    height: 6.25rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;

    img {
        // height: 3.125rem;
        // width: 3.125rem;
        margin: 1rem;
    }

    .price-container {
        display: flex;
        flex-direction: column;

        .ap {
            font-weight: 900;
            font-size: 1rem;
        }

        .price {
            font-weight: 500;
            font-size: 1rem;
            color: $desaturateBlue
        }

    }

    button {
        margin-right: 2rem;
        margin-left: auto;
        border: none;
        background: none;
        font-family: $font;
        font-weight: 600;
        font-size: .85rem;
        color: $brightBlue;
        text-decoration: underline;

    }

    button:hover {
        cursor: pointer;
        color: hsla(245, 75%, 52%, 0.5);
        text-decoration: none;
    }


}

.btn {
    margin: 2rem;
    background-color: $brightBlue;
    height: 3.125rem;
    width: 22.1875rem;
    color: white;
    font-family: $font;
    font-weight: 900;
    border-radius: 1rem;
    border: none;
}

.btn:hover {
    cursor: pointer;
    background: hsla(245, 75%, 52%, 0.5);
}

.cancel {
    color: $desaturateBlue;
    font-weight: 700;
}

.cancel:hover {
    cursor: pointer;
    color: black;
}